.side {
  position: relative;
}

.navBg {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  object-fit: contain;
}

.headerul {
  position: absolute;
  z-index: 2;
}

.headernavbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 30px;
  height: 844px;
  background-size: contain;
  background-color: #6a8f7d;
  margin: 0 -25px;
  margin-top: -30px;
  z-index: 2;
}

.headerBtn {
  position: absolute;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  right: -5px;
  top: 57px;
  z-index: 2;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* 메뉴 링크부분 */
.headerul {
  position: absolute;
  top: 50px;
  width: 100%;
  scale: 0.8;
}

.headerul li {
  list-style: none;
  margin-bottom: 20px;
  display: block;
  align-items: center;
  cursor: pointer;
  color: white;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.headertext {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

/* .icons {
  position: relative;
  left: 45px;
}
.icons {
  position: relative;
  right: 45px;
} */
