html {
  scroll-behavior: smooth;
}
.mainTxt1 {
  font-weight: bold;
  font-size: 6rem;
  width: 90%;
  margin: 100px auto 0;
  line-height: 1.1;
}
.mainTxt2 {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: bold;
}

/**** header ****/

.headerBar {
  display: flex;
  background-color: transparent;
  border-bottom: 1px solid orangered;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.logo {
  font-size: 22px;
  margin-left: 20px;
  background-color: aliceblue;
  padding: 3px 10px;
}
.menuIcon {
  position: relative;
  width: 35px;
  height: 24px;
  margin-right: 20px;
}
.menuIcon span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 2px;
}
.menuIcon span:nth-of-type(1) {
  top: 0;
}
.menuIcon span:nth-of-type(2) {
  top: 10px;
  width: 80%;
}
.menuIcon span:nth-of-type(3) {
  bottom: 0;
  width: 60%;
}

/****menu****/

.menuBar {
  position: fixed;
  top: 10px;
  right: -100%;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 450px;
  background-color: #000;
  text-align: center;
  padding: 20px 20px;
  border-radius: 20px;
  z-index: 9999;
  transition: right 0.6s ease;
}
.menuBar.show {
  right: 10px;
}
.menuBar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 20px;
}
.menuBarIcon {
  position: relative;
  width: 25px;
  height: 24px;
  margin-left: 230px;
}
.menuBarIcon span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #eee;
  border-radius: 2px;
}
.menuBarIcon span:nth-of-type(1) {
  transform: rotate(-45deg);
  top: 20px;
}
.menuBarIcon span:nth-of-type(2) {
  transform: rotate(45deg);
  top: 20px;
}

/**** imgBox1 ****/
.imgBox1 {
  width: 90%;
  height: 50vw;
  background-image: linear-gradient(yellow 10%, orange 90%);
  margin: 150px auto;
  border-radius: 30px;
  position: relative;
}
.imgBox1 img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: 1;
  width: 60vw;
  margin: 0 auto;
}
.imgBox1 img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 10vw;
  width: 60vw;
  margin: 0 auto;
}
.imgBox1txt {
  width: 70%;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

/**** imgBox2 ****/
.imgBox2 {
  width: 90%;
  height: 50vw;
  margin: 150px auto;
}
.imgBox2 img {
  width: 100%;
  height: 50vw;
  border-radius: 30px;
}
.imgBox2txt {
  width: 70%;
  margin: 15px auto 0;
  font-weight: bold;
  text-align: center;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.8;
  width: 35px !important;
  height: 35px !important;
  border-radius: 20px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  margin: 0 auto;
}

/**** footer ****/
.footerTxt {
  margin: 0 auto 50px;
  color: #888;
  text-align: center;
  font-size: 0.9rem;
}
.upBtn {
  padding: 15px 15px 10px;
  border-radius: 50%;
  background-color: orange;
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 333;
}
