.searchsave {
  text-align: center;
}

/* SearchSave.css (예시 파일명) */

.searchSave {
  border-radius: 10px 10px 0 0;
  position: relative;
  transition: transform 0.5s ease;
  transform: translateY(150px);
  background: #ffffff;
  height: 505px;
  margin: 70px -25px 0;
}
.searchSave h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 15px 0 0;
}
.btn {
  background-color: transparent;
  border: none;
  display: block;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
  z-index: 1;
  color: gray;
}
.show {
  transform: translateY(-452px);
}
.resetClicked {
  transform: translateY(120px);
}
.title {
  position: relative;
  top: -25px;
}
/* search.css */

.save {
  font-size: 20px;
}

.saveCategori {
  display: flex;
  justify-content: space-between;
}

.saveCategori li {
  margin: auto 10px;
}

.searchNav {
  display: flex;
  justify-content: center;
}
.searchNav li {
  width: 110px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.searchNav a {
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
  padding-top: 20px;
}

.searchNav svg {
  width: 24px;
  height: 24px;
  margin-top: 25px;
}
.searchNav li > a > p {
  margin: 0;
  font-size: 14px;
}
.active {
  background-color: #fffca9;
  transition: 0.3s;
}

/* save1  */
.save1 {
  position: relative;
  margin: 0 25px;
}
.save1 h3 {
  position: relative;
  color: #444444;
  margin: 15px 0 15px;
}
.save1star {
  margin-top: 10px;
}
.save1startxt {
  margin: 5px 0;
}
.left {
  text-align: left;
}
.save1inputdate {
  margin-bottom: 10px;
  width: 340px;
  height: 35px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  border: #eee;
}

.save1btn {
  position: relative;
  bottom: -25px;
  color: inherit;
  background-color: #fffca9;
  border-radius: 10px;
  width: 340px;
  height: 40px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
.save2btn {
  position: relative;
  bottom: -50px;
  color: inherit;
  background-color: #fffca9;
  border-radius: 10px;
  width: 340px;
  height: 40px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
.save3btn {
  position: relative;
  bottom: -250px;
  color: inherit;
  background-color: #fffca9;
  border-radius: 10px;
  width: 340px;
  height: 40px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
/* save2  */
.save2 {
  position: relative;
  margin: 0 25px;
}
.left {
  text-align: left;
}
.save2maintext {
  margin: 15px 0;
}
.save2inputtext {
  margin: 10px 0 2px;
  font-size: 14px;
  color: #36363b;
  /* color 색 통합 필요 + 블랙 아래 단계 컬러 */
}
.save2inputdate {
  width: 340px;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.save2inputnum {
  width: 340px;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
